body {
    margin: 0;
    min-height: 100vh; /* ensures full page height */
    padding: 20px 0;
    /* justify-content: center;
    align-items: center; */
    /* background: linear-gradient(130deg, #e4e7e9, #f50c0c); */
    font-family: Arial, sans-serif;
    background-image: url(images/ai-generated-beautuful-fast-food-background-with-copy-space-free-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



.login-box {
    width: 350px;
    padding: 30px;
    background: rgba(196, 15, 15, 0.13);
    backdrop-filter: blur(12px);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    text-align: center;
    color: #fff;
    margin-top: 100px !important;
}

.login-box h2 {
    margin-bottom: 20px;
    font-size: 28px;
    letter-spacing: 1px;
}

.login-box label {
    display: block;
    text-align: left;
    margin: 12px 0 5px;
    font-weight: bold;
}

.login-box input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 15px;
}

.login-box button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    background: #00c6ff;
    color: #000;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.login-box button:hover {
    background: #00a5d6;
}



