* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar-brand {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  font-weight: 600;
  color: white;
}

.welcome-text {
  align-self: center;
  transform: translateY(8px);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: larger;
}





.sidebar {
  
  max-width: 250px;
  max-height: 600px;
  background-color: #1a1a1a;
  color: white;
  padding: 28px;
}

.sidebar h2 {
  margin-bottom: 30px;
}

.sidebar ul li {
  margin: 20px 0;
  cursor: pointer;
}







